h1{
    color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
}

p{
    text-indent: 30px;
    line-height: 1.5;
    font-size: 16px;
    color: royalblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li{
    color: cornflowerblue;
    font-size: 12px;
    font-family: cursive;
}

a:link{
    color: midnightblue;
}

a:visited{
    color: green;
}

a:hover{
    color: orange;
}

a:active{
    color: darkcyan;
}

.button{
    border-radius: 5px;
    border: none;
    background-color: midnightblue;
    color: #fff;
    text-align: center;
    font-size: 20px;
}

.button:hover{
    background-color: orange;
}

.button:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
}